In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('inputs/train.csv', index_col='id')
data['date'] = pd.to_datetime(data['date'])

stores = pd.read_csv('inputs/stores.csv')
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [5]:
data_stores = data.merge(stores, left_on='store_nbr', right_on='store_nbr')

In [6]:
transact = pd.read_csv('inputs/transactions.csv')
transact['date'] = pd.to_datetime(transact['date'])
data_stores_trans  = data_stores.merge(transact, on=['store_nbr', 'date'])

In [7]:
data_stores_trans.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transactions
0,2013-01-02,1,AUTOMOTIVE,2.0,0,Quito,Pichincha,D,13,2111
1,2013-01-02,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,2111
2,2013-01-02,1,BEAUTY,2.0,0,Quito,Pichincha,D,13,2111
3,2013-01-02,1,BEVERAGES,1091.0,0,Quito,Pichincha,D,13,2111
4,2013-01-02,1,BOOKS,0.0,0,Quito,Pichincha,D,13,2111

In [22]:
df = data_stores_trans.copy()

In [23]:
df['sales'].replace(0, np.nan, inplace=True)

In [31]:
df.groupby(['store_nbr']).median().sort_values('transactions')

                sales  onpromotion  cluster  transactions
store_nbr
26          38.891000          0.0     10.0         591.0
32          59.888000          0.0      3.0         615.0
35          60.000000          0.0      3.0         656.0
30          54.383000          0.0      3.0         701.0
22          43.526000          0.0      7.0         730.0
25          70.000000          0.0      1.0         819.0
54          48.000000          0.0      3.0         822.0
16          67.138000          0.0      3.0         849.0
13          48.000000          0.0     15.0         894.0
53          61.000000          0.0     13.0         953.0
10          43.000000          0.0     15.0         962.0
41          65.171000          0.0      4.0        1005.0
33         109.000000          0.0      3.0        1016.0
21          54.000000          0.0      6.0        1019.0
23          58.275001          0.0      9.0        1050.0
42          60.019000          0.0      2.0        1053.0
29          63.192000          0.0     10.0        1090.0
36          85.476500          0.0     10.0        1098.0
28          82.206000          0.0     10.0        1116.0
19          46.000000          0.0     15.0        1174.0
12          57.000000          0.0     15.0        1196.0
43          96.000000          0.0     10.0        1288.0
40          78.000000          0.0      3.0        1299.0
18          60.000000          0.0     16.0        1314.0
31          66.000000          0.0     10.0        1329.0
15          52.000000          0.0     15.0        1330.0
17          98.360000          0.0     12.0        1345.0
39          60.053000          0.0      6.0        1362.0
14          56.467000          0.0      7.0        1365.0
5           80.080000          0.0      4.0        1379.0
20          47.000000          0.0      6.0        1426.0
27          88.160000          0.0      1.0        1449.0
4           89.147000          0.0      9.0        1455.0
37         108.958500          0.0      2.0        1481.0
38          88.390000          0.0      4.0        1585.0
51         147.000000          0.0     17.0        1685.0
6          127.000000          0.0     13.0        1729.0
1           78.000000          0.0     13.0        1746.0
7          142.093000          0.0      8.0        1790.0
2          101.286000          0.0     13.0        1889.0
9           69.000000          0.0      6.0        2045.0
52          96.841000          1.0     11.0        2154.5
34          57.000000          0.0      6.0        2275.5
24         127.174500          0.0      1.0        2280.0
11          60.000000          0.0      6.0        2300.0
50         100.000000          0.0     14.0        2448.0
49         187.000000          0.0     11.0        2671.0
48          96.000000          0.0     14.0        2705.0
8          151.153000          0.0      8.0        2740.5
3          218.711500          0.0      8.0        3100.5
46         113.835000          0.0     14.0        3230.0
45         229.786000          0.0     11.0        3515.0
47         192.336500          0.0     14.0        3685.0
44         282.000000          0.0      5.0        4170.0